
body {
	font-family: arial;
}
.full-calender-container{
	width: 90%;
	margin: 0 auto;
	position: relative;
	font-family: arial;
}
.full-calender-container .control-btn {
    width: 40px;
    height: 27px;
    font-weight: bold;
}
.full-calender-container table.full-calander{
	width: 100%;
	border: 1px solid #CCC;
}
.full-calender-container table.full-calander thead th {
	height: 20px;
	background-color: #CCC;
	text-align: right;
	padding: 10px; 
}
.full-calender-container table.full-calander tbody td  {
	height: 50px;
	width: 50px;
	border: 1px solid #CCC;
	text-align: right;
	padding: 10px;
}
.full-calender-container table.full-calander tbody td.disabled{
	background-color: rgba(229, 229, 229,0.5);
}

.control-container .caption-container {
    text-align: center;
    font-weight: bold;
    padding: 0 0 10px 0;
}
.event-container .event-item {
	font-size: 11px;
	padding:5px;
	background-color: #CCC;
	margin: 2px 0;
	text-align: left; 
}
.event-container  .event-more {
	cursor: pointer;
}
.modal {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #CCC;
    padding: 20px;
    background: rgba(0,0,0,0.5);
}
.modal .modal-container {
    width: 50%;
    margin: 0 auto;
    background: #FFF;
    padding: 20px;
}
.modal .modal-container .modal-head h4 {
    padding: 10px 0;
    margin: 0;
    float: left;
}
.modal .modal-container .modal-head span {
    padding: 10px 0;
    margin: 0;
    float: right;
    cursor: pointer;
    color: #ababab;
}
.modal .modal-container .modal-body {
   clear: both;
}
.modal ::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
 
.modal ::-webkit-scrollbar-track {}
 
.modal ::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #8e9097;
	outline: 1px solid slategrey;
}